<!doctype html>
<html lang="en" data-framework="javascript">
  <head>
    <meta charset="utf-8">
    <title>Todo</title>
    <link rel="stylesheet" href="static/node_modules/todomvc-app-css/index.css">
  </head>
  <body>
    <section id="todoapp">
      <header id="header">
        <h1>todos</h1>
        <form action="/add-todo" method="POST">
        <input id="new-todo" placeholder="What needs to be done?" type="text" name='todo' autofocus>
        <input type="submit" name="submit" value="Add" style="display: none;"/>
        </form>
      </header>
      <section id="main">
        <input id="toggle-all" type="checkbox">
        <label for="toggle-all">Mark all as complete</label>
        <ul id="todo-list">
          {% for todo in todos %}
            <li class="editing">
                <form action="/completed" method="POST">
                  <input type="text" name="id" value={{todo.id}} style="display: none;">
                  {% if todo.completed %}
                    <input type="checkbox" class="toggle" value={{todo.completed}} onclick="this.form.submit();" checked />
                  {% else %}
                    <input type="checkbox" class="toggle" value={{todo.completed}} onclick="this.form.submit();" />
                  {% endif %}
                </form>
                <form action="/edit-todo" method="POST">
                  <input type="text" name="id" value={{todo.id}} style="display: none;">
                  <input type="text" class="edit" name="todo" value={{todo.name}} />
                  <input type="submit" name="submit" value="Add" style="display: none;"/>
                </form>
                <form action="/delete-todo" method="POST">
                  <button type="submit" name="id" value={{todo.id}} class="destroy"></button>
                </form>
            </li>
          {% endfor %}
        </ul>
      </section>
      <footer id="footer">
        <span id="todo-count"></span>
        <ul id="filters">
          <li>
            <a href="/">All</a>
          </li>
          <li>
            <a href="#/active">Active</a>
          </li>
          <li>
            <a href="/completed" class="selected">Completed</a>
          </li>
        </ul>
        <button id="clear-completed">Clear completed</button>
      </footer>
    </section>
    <footer id="info">
      <p>HTML and CSS credit: <a href="http://todomvc.com">TodoMVC</a></p>
    </footer>
  </body>
</html>
